body {
    font-family: Arial, sans-serif;
    background-color: #dbd0d0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(246, 205, 205);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .To-Do-image{
    width: 100%;
   max-height: 250px;
  }
  
  h1 {
    text-align: center;
  }
  
  .task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
   
  }
  
  button {
    width: 15%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #fafafa;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
  }
  
  button.edit, button.delete {
    margin-left: 10px;
    cursor: pointer;
  }
  
  button.complete {
    background-color: #007bff;
  }
  
  button.complete:hover {
    background-color: #0056b3;
  }
  
  button.edit:hover, button.delete:hover {
    background-color: #f44336;
    color: white;
  }
  